.cart-preview {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	width: 300px;
	padding: 10px;
	background-color: #ffffff;
	border: 1px solid #797474;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 9999;
	overflow-y: auto;  
	max-height: 400px;
	
  }

  .cart-preview.show {
    display: block;
}
  .cart-preview:before {
	content: "";
	position: absolute;
	top: -10px;
	right: 10px;
	border-width: 10px 10px 0 0;
	border-style: solid;
	border-color: #ccc transparent;
	
  }
  .cart-preview:after {
	content: "";
	position: absolute;
	top: -9px;
	right: 10px;
	border-width: 10px 10px 0 0;
	border-style: solid;
	border-color: #fff transparent;
	
  }
  .cart-items {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  .cart-items li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid #ccc;
  }
  .cart-items li:last-child {
	border-bottom: none;
  }
  .cart-items img {
	height: 50px;
	margin-right: 10px;
  }
  .total {
	margin-top: 10px;
	text-align: right;
  }
  .checkout {
	display: block;
	margin-top: 10px;
	padding: 10px;
	width: 100%;
	border: none;
	background-color: #000;
	color: #fff;
	cursor: pointer;
  }
  .show {
	display: block !important;
  }
  
  .update {
	max-width: 600px;
	margin-top: 15rem;
    margin-left: 45rem;
	padding: 20px;
	background-color: #f8f8f8;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	text-align: center;
  }

  input {
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin-bottom: 20px;
	width: 100%;
	max-width: 400px;
  }
  
  input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	cursor: pointer;
  }
  
  input[type="submit"]:hover {
	background-color: #3e8e41;
  }
  
  input[readonly] {
	background-color: #f8f8f8;
	color: #555;
	cursor: default;
  }